<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <form [formGroup]="employeeForm" class="box">
            <h1 class="title has-text-dark has-text-centered">
              Create employee
            </h1>
            <div class="columns is-multiline">
              <div class="field column is-4">
                <label class="label">Cedula</label>
                <div class="control">
                  <input
                    formControlName="cedula"
                    class="input"
                    [ngClass]="
                      cedula.invalid && cedula.touched ? 'is-danger' : ''
                    "
                    type="number"
                    required
                  />
                </div>
                <p
                  *ngIf="cedula.invalid && cedula.touched"
                  class="help is-danger"
                >
                  Cedula is required
                </p>
              </div>
              <div class="field column is-4">
                <label class="label">Nombre</label>
                <div class="control">
                  <input
                    formControlName="nombre"
                    class="input"
                    [ngClass]="
                      nombre.invalid && nombre.touched ? 'is-danger' : ''
                    "
                    type="text"
                    required
                  />
                </div>
                <p
                  *ngIf="nombre.invalid && nombre.touched"
                  class="help is-danger"
                >
                  Nombre is required
                </p>
              </div>
              <div class="field column is-4">
                <label class="label">Apellido</label>
                <div class="control">
                  <input
                    formControlName="apellido"
                    class="input"
                    [ngClass]="
                      apellido.invalid && apellido.touched ? 'is-danger' : ''
                    "
                    type="text"
                    required
                  />
                </div>
                <p
                  *ngIf="apellido.invalid && apellido.touched"
                  class="help is-danger"
                >
                  Apellido is required
                </p>
              </div>
              <div class="field column is-4">
                <label class="label">Fecha de nacimiento</label>
                <div class="control">
                  <input
                    formControlName="nacimiento"
                    class="input"
                    [ngClass]="
                      nacimiento.invalid && nacimiento.touched
                        ? 'is-danger'
                        : ''
                    "
                    type="date"
                    required
                  />
                </div>
                <p
                  *ngIf="nacimiento.invalid && nacimiento.touched"
                  class="help is-danger"
                >
                  Fecha de nacimiento is required
                </p>
              </div>
              <div class="field column is-4">
                <label class="label">Municipio</label>
                <div class="control">
                  <div
                    class="select"
                    [ngClass]="
                      municipio.invalid && municipio.touched ? 'is-danger' : ''
                    "
                  >
                    <select formControlName="municipio" required>
                      <option value="">Seleccione un municipio</option>
                      <option
                        *ngFor="let municipio of municipios"
                        [ngValue]="municipio"
                      >
                        {{ municipio }}
                      </option>
                    </select>
                  </div>
                </div>
                <p
                  *ngIf="municipio.invalid && municipio.touched"
                  class="help is-danger"
                >
                  Municipio is required
                </p>
              </div>
              <div class="field column is-4">
                <label class="label">Area</label>
                <div class="control">
                  <div
                    class="select"
                    [ngClass]="area.invalid && area.touched ? 'is-danger' : ''"
                  >
                    <select formControlName="area" required>
                      <option value="">Selecccione un area</option>
                      <option *ngFor="let area of areas" [ngValue]="area">
                        {{ area }}
                      </option>
                    </select>
                  </div>
                </div>
                <p *ngIf="area.invalid && area.touched" class="help is-danger">
                  Area is required
                </p>
              </div>
              <div class="field column is-4">
                <label class="label">Cargo</label>
                <div class="control">
                  <div
                    class="select"
                    [ngClass]="
                      cargo.invalid && cargo.touched ? 'is-danger' : ''
                    "
                  >
                    <select formControlName="cargo" required>
                      <option value="">Selecccione un cargo</option>
                      <option *ngFor="let cargo of cargos" [ngValue]="cargo">
                        {{ cargo }}
                      </option>
                    </select>
                  </div>
                </div>
                <p
                  *ngIf="cargo.invalid && cargo.touched"
                  class="help is-danger"
                >
                  Cargo is required
                </p>
              </div>
              <div class="field column is-4">
                <label class="label">Salario</label>
                <div class="control">
                  <input
                    formControlName="salario"
                    class="input"
                    [ngClass]="
                      salario.invalid && salario.touched ? 'is-danger' : ''
                    "
                    type="number"
                    required
                  />
                </div>
                <p
                  *ngIf="salario.invalid && salario.touched"
                  class="help is-danger"
                >
                  Salario is required
                </p>
              </div>
              <div class="field column is-4">
                <label class="label">Fecha de ingreso</label>
                <div class="control">
                  <input
                    formControlName="ingreso"
                    class="input"
                    [ngClass]="
                      ingreso.invalid && ingreso.touched ? 'is-danger' : ''
                    "
                    type="date"
                    required
                  />
                </div>
                <p
                  *ngIf="ingreso.invalid && ingreso.touched"
                  class="help is-danger"
                >
                  Fecha de ingreso is required
                </p>
              </div>
              <div class="field column is-4">
                <label class="label">Genero</label>
                <div class="control">
                  <div
                    class="select"
                    [ngClass]="
                      genero.invalid && genero.touched ? 'is-danger' : ''
                    "
                  >
                    <select formControlName="genero" required>
                      <option value="">Genero</option>
                      <option *ngFor="let genero of generos" [ngValue]="genero">
                        {{ genero }}
                      </option>
                    </select>
                  </div>
                </div>
                <p
                  *ngIf="genero.invalid && genero.touched"
                  class="help is-danger"
                >
                  Genero is required
                </p>
              </div>
            </div>
            <div class="field">
              <p class="control">
                <button
                  class="button is-success"
                  [disabled]="employeeForm.invalid"
                  (click)="createEmployee()"
                >
                  Create
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" [ngClass]="active_modal ? 'is-active' : ''">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ nombre.value }} {{ apellido.value }}</p>
            <p class="subtitle is-6">{{ cargo.value }}</p>
          </div>
        </div>
        <div class="content">
          <p><strong>Edad: </strong> {{ edad }}</p>
          <p>
            <strong>Antigüedad: </strong>
            {{ antiguedad }}
          </p>
          <p>
            <strong>Dias suplementarios: </strong>
            {{ dias_suplementarios }}
          </p>
          <p>
            <strong>Dias de vacaciones: </strong>
            {{ dias_vacaciones }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="modal-close is-large"
    (click)="closeModal()"
    aria-label="close"
  ></button>
</div>
